body {
  font-family: helvetica, sans-serif;
  background-size: cover;
}
#wrapper {
  background-color: rgba(255, 255, 255, 0.4);
}
.formSection {
  text-align: center;
}
#form {
  padding: 100px;
  margin: 0px;
}
.hash {
  height: 120px;
}
#toGenerateHash {
  height: 15px;
}
#copyHashBtn {
  margin-top: 10px;
}
.paragraphsContainer {
  display: flex;
  text-align: center;
}
.paragraphs {
  flex: 1;
  padding: 15px 20px 50px 20px;
  height: 80px;
}
