@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body {
  font-family: Indie Flower, cursive;
  background-size: cover;
  margin: 0;
  color: #1b1026;
  background-image: url('../images/cat-anime.jpg');
}
#wrapper {
  background-color: rgba(255, 255, 255, 0.4);
  margin: 20px 100px;
}
.formSection {
  text-align: center;
}
#form {
  padding: 50px;
  margin: 0;
}
.hash {
  height: 120px;
}
.hash h2 {
  text-decoration: underline;
}
#toGenerateHash {
  height: 15px;
}
.paragraphsContainer {
  display: flex;
  text-align: center;
}
.paragraphs {
  flex: 1;
  padding: 15px 20px 50px 20px;
  height: 80px;
}
.paragraphs h2 {
  text-decoration: underline;
}
.paragraphs p {
  font-weight: bold;
}
#copyHashBtn,
#enterBtn,
#resetBtn {
  background-color: #f2d785;
  color: #a62d12;
  font-weight: bold;
  font-family: indie flower, cursive;
  font-size: 16px;
  border-radius: 4px;
  width: 70px;
  height: 30px;
  margin-top: 10px;
  display: block;
}

footer {
  padding: 30px;
  background-color: #1b1026;
  color: #f2d785;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(242, 178, 121, 0.4);
}

#cat-image {
  display: none;
}
